In [4]:
from src.preprocessing.text_cleaner import TextCleaner

cleaner = TextCleaner()
cleaner.clean_text("Email me at abc@test.com. Worked in Python and ML.")

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\DeLL\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\DeLL\AppData\Roaming\nltk_data...
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\DeLL\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

''

In [3]:
import sys
import os

PROJECT_ROOT = os.path.abspath("D:/CURSOR FOLDER/job_fit_ml")
sys.path.append(PROJECT_ROOT)

In [5]:
test_text = """
Experienced data analyst with 3 years of experience in Python, SQL,
machine learning, data visualization, pandas, numpy, and scikit-learn.
Worked on predictive modeling and business analytics projects.
"""

cleaner = TextCleaner()
cleaner.clean_text(test_text)

'experienced data analyst year experience python sql machine learning data visualization panda numpy scikitlearn worked predictive modeling business analytics project'

In [6]:
import pandas as pd
from src.preprocessing.text_cleaner import clean_resume_dataframe

df = pd.read_csv("D:/CURSOR FOLDER/job_fit_ml/data/raw/Resume.csv")
cleaned_df = clean_resume_dataframe(df, "Resume_str")

cleaned_df.head()

,ID,Resume_str,Resume_html,Category,cleaned_text
0,16852973,HR ADMINISTRATOR/MARKETING ASSOCIATE\...,"<div class=""fontsize fontface vmargins hmargin...",HR,administratormarketing associate administrator...
1,22323967,"HR SPECIALIST, US HR OPERATIONS ...","<div class=""fontsize fontface vmargins hmargin...",HR,specialist operation summary versatile medium ...
2,33176873,HR DIRECTOR Summary Over 2...,"<div class=""fontsize fontface vmargins hmargin...",HR,director summary year experience recruiting pl...
3,27018550,HR SPECIALIST Summary Dedica...,"<div class=""fontsize fontface vmargins hmargin...",HR,specialist summary dedicated driven dynamic ye...
4,17812897,HR MANAGER Skill Highlights ...,"<div class=""fontsize fontface vmargins hmargin...",HR,manager skill highlight skill department start...

In [7]:
print("BEFORE:")
print(df["Resume_str"].iloc[0][:800])

print("\nAFTER:")
print(cleaned_df["cleaned_text"].iloc[0][:800])

BEFORE:
         HR ADMINISTRATOR/MARKETING ASSOCIATE

HR ADMINISTRATOR       Summary     Dedicated Customer Service Manager with 15+ years of experience in Hospitality and Customer Service Management.   Respected builder and leader of customer-focused teams; strives to instill a shared, enthusiastic commitment to customer service.         Highlights         Focused on customer satisfaction  Team management  Marketing savvy  Conflict resolution techniques     Training and development  Skilled multi-tasker  Client relations specialist           Accomplishments      Missouri DOT Supervisor Training Certification  Certified by IHG in Customer Loyalty and Marketing by Segment   Hilton Worldwide General Manager Training Certification  Accomplished Trainer for cross server hospitality systems such as

AFTER:
administratormarketing associate administrator summary dedicated customer service manager year experience hospitality customer service management respected builder leader customerfocused team strives instill shared enthusiastic commitment customer service highlight focused customer satisfaction team management marketing savvy conflict resolution technique training development skilled multitasker client relation specialist accomplishment missouri dot supervisor training certification certified ihg customer loyalty marketing segment hilton worldwide general manager training certification accomplished trainer cross server hospitality system hilton onq micros opera pm fidelio opera reservation system or holidex completed course seminar customer service sale strategy inventory control loss prev

In [10]:
import sys
import os
sys.path.append(os.path.abspath(".."))

import pandas as pd
from src.preprocessing.text_cleaner import TextCleaner

# Load raw data
df = pd.read_csv("../data/raw/Resume.csv")

cleaner = TextCleaner()

# Apply cleaning
df["cleaned_text"] = df["Resume_str"].apply(cleaner.clean_text)

# Save processed data
df.to_csv("../data/processed/cleaned_resumes.csv", index=False)

df[["Resume_str", "cleaned_text"]].head()

,Resume_str,cleaned_text
0,HR ADMINISTRATOR/MARKETING ASSOCIATE\...,administratormarketing associate administrator...
1,"HR SPECIALIST, US HR OPERATIONS ...",specialist operation summary versatile medium ...
2,HR DIRECTOR Summary Over 2...,director summary year experience recruiting pl...
3,HR SPECIALIST Summary Dedica...,specialist summary dedicated driven dynamic ye...
4,HR MANAGER Skill Highlights ...,manager skill highlight skill department start...

In [11]:
import pandas as pd
from src.features.tfidf_features import TfidfFeatureExtractor

df = pd.read_csv("../data/processed/cleaned_resumes.csv")

texts = df["cleaned_text"].head(100).tolist()

tfidf = TfidfFeatureExtractor()
X = tfidf.fit_transform(texts)

X.shape

(100, 5000)

In [12]:
resume_text = texts[0]

job_description = """
Looking for a data analyst with experience in Python, SQL,
machine learning, pandas, and data visualization.
"""

resume_vec = tfidf.transform([resume_text])
job_vec = tfidf.transform([job_description])

similarity_score = tfidf.compute_similarity(resume_vec, job_vec)
similarity_score

0.02939990013319755

In [17]:
df = pd.read_csv("../data/processed/cleaned_resumes.csv")

# pick a resume from IT / Engineering
it_resume = (
    df[df["Category"].str.contains("Information", case=False, na=False)]
    ["cleaned_text"]
    .sample(1, random_state=42)
    .values[0]
)


job_description = """
Looking for a data analyst with experience in Python, SQL,
machine learning, pandas, data analysis, statistics, and visualization.
"""

resume_vec = tfidf.transform([it_resume])
job_vec = tfidf.transform([job_description])

tfidf.compute_similarity(resume_vec, job_vec)

0.0023765501360160316

In [14]:
df["Category"].value_counts()

Category
INFORMATION-TECHNOLOGY    120
BUSINESS-DEVELOPMENT      120
FINANCE                   118
ADVOCATE                  118
ACCOUNTANT                118
ENGINEERING               118
CHEF                      118
AVIATION                  117
FITNESS                   117
SALES                     116
BANKING                   115
HEALTHCARE                115
CONSULTANT                115
CONSTRUCTION              112
PUBLIC-RELATIONS          111
HR                        110
DESIGNER                  107
ARTS                      103
TEACHER                   102
APPAREL                    97
DIGITAL-MEDIA              96
AGRICULTURE                63
AUTOMOBILE                 36
BPO                        22
Name: count, dtype: int64

In [15]:
df["Category"].unique()

array(['HR', 'DESIGNER', 'INFORMATION-TECHNOLOGY', 'TEACHER', 'ADVOCATE',
       'BUSINESS-DEVELOPMENT', 'HEALTHCARE', 'FITNESS', 'AGRICULTURE',
       'BPO', 'SALES', 'CONSULTANT', 'DIGITAL-MEDIA', 'AUTOMOBILE',
       'CHEF', 'FINANCE', 'APPAREL', 'ENGINEERING', 'ACCOUNTANT',
       'CONSTRUCTION', 'PUBLIC-RELATIONS', 'BANKING', 'ARTS', 'AVIATION'],
      dtype=object)

In [16]:
it_resume = (
    df[df["Category"].str.contains("Information", case=False, na=False)]
    ["cleaned_text"]
    .sample(1, random_state=42)
    .values[0]
)

In [1]:
import sys, os
sys.path.append(os.path.abspath(".."))

from src.models.similarity_model import ResumeRanker

# Initialize ranker
ranker = ResumeRanker("D:/CURSOR FOLDER/job_fit_ml/data/processed/cleaned_resumes.csv")

# Example job description
job_description = """
Looking for a data analyst with experience in Python, SQL,
machine learning, pandas, data visualization, and predictive modeling.
"""

# Get top 5 resumes
top_resumes = ranker.rank(job_description, top_n=5)

top_resumes

[(21156767, 'CONSULTANT', 0.31504310212306413),
 (12011623, 'ENGINEERING', 0.27983217704654884),
 (42156237, 'DIGITAL-MEDIA', 0.2772508473085011),
 (30863060, 'CONSULTANT', 0.24882947450672557),
 (18448085, 'AUTOMOBILE', 0.24503739290528276)]

In [2]:
import sys, os
sys.path.append(os.path.abspath(".."))

from src.models.classifier import ResumeClassifier

classifier = ResumeClassifier()

classifier.train("../data/processed/cleaned_resumes.csv")

# Test prediction on a sample resume
sample_text = """
Experienced data analyst skilled in Python, SQL, pandas,
machine learning models, and data visualization.
"""

classifier.predict([sample_text])

c:\Users\DeLL\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\linear_model\_logistic.py:1247: FutureWarning: 'multi_class' was deprecated in version 1.5 and will be removed in 1.7. From then on, it will always use 'multinomial'. Leave it to its default value to avoid this warning.
  warnings.warn(

array(['INFORMATION-TECHNOLOGY'], dtype='<U22')

In [3]:
accuracy, report = classifier.evaluate("../data/processed/cleaned_resumes.csv")

accuracy

c:\Users\DeLL\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\metrics\_classification.py:1531: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
c:\Users\DeLL\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\metrics\_classification.py:1531: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
c:\Users\DeLL\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\metrics\_classification.py:1531: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))

0.8272251308900523